{% extends 'base.html' %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    function renderPage(elem) {
        $.get("/render/" + $(elem).attr("name")+','+'{{current_entry.id}}', function(data){
            $("#result").html(data); $("#pagenolarge").html($(elem).attr("name"));
        });
    }
</script>
<script type=text/javascript>
    function emphPage(elem) {
        $.post("/emphasize/" + "{{current_entry.id}}", { reqtype: "emphasize", content: $(elem).attr("name")
        });
        $("#pgbtn"+$(elem).attr("name")).attr('style', 'font-style:italic');
    }
</script>
<script type=text/javascript>
    function removePage(elem) {
        $.post("/remove/" + "{{current_entry.id}}", { reqtype: "remove", content: $(elem).attr("name")
        });
        $("#pgbtn"+$(elem).attr("name")).attr('style', 'color:red');
    }
</script>
<script type=text/javascript>
    function updateEmph(elem) {
        $.post("/emph_subrange/" + $("#form"+$(elem).attr("name")).serialize()+"&{{current_entry.id}}", function(data){
            $("#emphsrs"+$(elem).attr("name")).text(data);
        } );
        $("#form"+$(elem).attr("name")).trigger("reset");
        $("#pgbtn"+$(elem).attr("name")).attr('style', 'color:green');

    }
</script>
<script type=text/javascript>
    function rangeRemove(elem) {
        $.post("/rangeremove/" + $(elem).attr("name"), function(data){
            $("#hit"+data).attr('style','color:red');
            $("#pgbtn"+$(elem).attr("name")).attr('style', 'color:red');
        });
        $("#pgbtn"+$(elem).attr("id")).attr('style', 'color:green');

    }
</script>
<script type=text/javascript>
    function myFunction(elem) {
        $.get("/getheight/" + $("#cont"+$(elem).attr("name")).css("height"), function(data){
            if(data=="small"){
                $("#cont"+$(elem).attr("name")).css("height", "45vh");
                $("#tools"+$(elem).attr("name")).css("display", "block");
            }
            else {
                $("#cont"+$(elem).attr("name")).css("height", "45px");
                $("#tools"+$(elem).attr("name")).css("display", "none");
            }
        });
    }
</script>
<script type=text/javascript>
    function deleteEntry(elem){
        $.post("/delete_entry/" + "{{current_entry.id}}", function(data){
            $("#entrytitle").attr('style', 'color:red');
            $("#deleteentrydiv").attr('style', 'display:none');
            $("#reinstateentrydiv").attr('style', 'display:block');
        });
    }
</script>
<script type=text/javascript>
    function reinstateEntry(elem){
        $.post("/reinstate_entry/" + "{{current_entry.id}}", function(data){
            $("#entrytitle").attr('style', 'color:black');
            $("#deleteentrydiv").attr('style', 'display:block');
            $("#reinstateentrydiv").attr('style', 'display:none');
        });
    }
</script>
<script type=text/javascript>
    function renameEntry(elem){
        let newname = prompt("Please input new entry title")
        $.post("/rename_entry/"+"{{current_entry.id}}"+"&"+newname, function(data){
            $("#entrytitle").html(data);
            $("#entrytitle").attr('style', 'color:green');
            $("#renameentrydiv").attr('style', 'display:none');
            $("#resetentrydiv").attr('style', 'display:block');

        });
    }
</script>
<script type=text/javascript>
    function resetEntryName(elem){
        $.post("/reset_entry_name/" + "{{current_entry.id}}", function(data){
            $("#entrytitle").html(data);
            $("#entrytitle").attr('style', 'color:black');
            $("#renameentrydiv").attr('style', 'display:block');
            $("#resetentrydiv").attr('style', 'display:none')
        });
    }
</script>
<script type=text/javascript>
    function editSee(elem){
        $("#see_default").attr('style','display:none');
        $("#see_update").attr('style','display:block');
    }
</script>
<script type=text/javascript>
    function updateSeeAlso(elem){
        $.post("/update_see_also/" + $("#seealsotext").val()+"&&{{current_entry.id}}", function(data){
            $("#seealso_default").html("<br><i>see also:</i> " + data)
            $("#seealsotext").text("")
            $("#seealso_default").attr('style','display:block; color:green');
            $("#seealso_update").attr('style','display:none');
        });
    }
</script>
<script type=text/javascript>
    function showSeeAlso(elem){
        $("#seealso_default").attr('style','display:none');
        $("#seealso_update").attr('style','display:block');
    }
</script>
<script type=text/javascript>
    function updateSee(elem){
        $.post("/update_see/" + $("#seetext").val()+"&&{{current_entry.id}}", function(data){
            $("#see_default").html("<i>see:</i> " + data)
            $("#seetext").text("")
            $("#see_default").attr('style','display:block; color:green');
            $("#see_update").attr('style','display:none');
        });
    }
</script>
<script type=text/javascript>
    function showSee(elem){
        $("#see_default").attr('style','display:none');
        $("#see_update").attr('style','display:block');
    }
</script>
<script type=text/javascript>
    function resetSee(elem){
        $.post("/reset_see/"+"{{current_entry.id}}", function(data){
            $("#see_default").attr('style','display:block;color:black');
            $("#see_default").html('<i>see</i>: '+data);
        })
    }
</script>
<script type=text/javascript>
    function resetSeeAlso(elem){
        $.post("/reset_see_also/"+"{{current_entry.id}}", function(data){
            $("#seealso_default").attr('style','display:block;color:black');
            $("#seealso_default").html('<br><i>see also</i>: '+data);
        })
    }
</script>
<script type=text/javascript>
    function showAddPages(elem){
        alert("Not currently working, sorry.");
        // if($("#addpages_default").css('display')=='block'){
        //     $("#addpages_default").attr('style','display:none');
        //     $("#addpages_update").attr('style','display:block');
        // }
        // else if($("#addpages_default").css('display')=='none'){
        //     $("#addpages_default").attr('style','display:block');
        //     $("#addpages_update").attr('style','display:none');
        //}
    }
</script>
<script type=text/javascript>
    function addPages(elem){
        $.post("/add_pages/" + $("#addpagestext").val() + "&&{{current_entry.id}}", function(data){
            if(data=="Error1"){
                alert("ERROR: Submitted text contains illegal characters.");
            }
            else if(data=="Error2"){
                alert("ERROR: Malformed page range.")
            }
            else if(data=="Error3"){
                alert("ERROR: Unbalanced parentheses")
            }
            else if(data=="Error4"){
                alert("ERROR: Unbalanced asterisks")
            }
            else {
                $("#editpages_default").html(data.htmlstring);
                $("#editpagestext").val(data.ptstring);
                $("#addpagestext").val('');
            }
        });
    }
</script>
<script type=text/javascript>
    function showEditPages(elem){
        if ($("#editpages_default").css('display')=='block'){
            $("#editpages_default").attr('style','display:none');
            $("#editpages_update").attr('style','display:block');
        }
        else if($("#editpages_default").css('display')=='none'){
            $("#editpages_default").attr('style','display:block');
            $("#editpages_update").attr('style','display:none');
        }
    }
</script>
<script type=text/javascript>
    function hideEditPages(elem){
        $("#editpages_default").attr('style','display:block');
        $("#editpages_update").attr('style','display:none');
    }
</script>
<script type=text/javascript>
    function editPages(elem){
        $.post('/editpages/'+$("#editpagestext").val()+"&&{{current_entry.id}}", function(data){
        if(data=="Error1"){
                alert("ERROR: Submitted text contains illegal characters.");
            }
        else if(data=="Error2"){
                alert("ERROR: Malformed page range.")
            }
        else if(data=="Error3"){
                alert("ERROR: Unbalanced parentheses")
            }
        else if(data=="Error4"){
                alert("ERROR: Unbalanced asterisks")
            }
        else {
            $("#editpages_default").html(data);
            }
        });
    }
</script>

{% endblock %}

{% block body %}

<div class="container">
    
    <div class="reader_block">
        <div class="reader_header">
            <h3>Page <span id="pagenolarge">0</span></h3>
        </div>
        <div class="reader_body" >
            <p id="result">Page text here.</p>
        </div>
    </div>


    <div class="entry_info">
        <div class="entry_details">
            <div class="entry_controls">
                <a href="/indiv_entry/{{current_entry.id-1}}">Previous entry</a> 
                <a href="/">Entries list</a>
                <a href="/indiv_entry/{{current_entry.id+1}}">Next entry</a><br>
            </div>

            {% if current_entry.is_renamed == 1 %}
                <h1 id='entrytitle' style = "color:green">{{current_entry.entry_name_final}}</h1>
            {% elif current_entry.to_delete == 1 %}
                <h1 id='entrytitle' style = "color:red">{{current_entry.entry_name_final}}</h1>
            {% else %}
                <h1 id='entrytitle'>{{current_entry.entry_name_final}}</h1>
            {% endif %}

            <div class = "entry_deletion">
                {% if current_entry.to_delete == 0 %}
                {% set dstyle1 = 'display:block' %}
                {% set dstyle2 = 'display:none' %}
                {% else %}
                {% set dstyle2 = 'display:block' %}
                {% set dstyle1 = 'display:none' %}
                {% endif %}
                <div id='deleteentrydiv' style={{dstyle1}}>
                    <a href=#  onclick="deleteEntry(this)">Delete entry</button></a>
                </div>
                <div id='reinstateentrydiv' style={{dstyle2}}>
                    <a href=#  onclick="reinstateEntry(this)">Reinstate entry</button></a>
                    </div>
                
                {% if current_entry.is_renamed == 0 %}
                {% set rstyle1 = 'display:block' %}
                {% set rstyle2 = 'display:none' %}
                {% else %}
                {% set rstyle2 = 'display:block' %}
                {% set rstyle1 = 'display:none' %}
                {% endif %}
                <div id='renameentrydiv' style={{rstyle1}}>
                    <a href=#  onclick="renameEntry(this)">Rename entry</button></a>
                </div>
                <div id='resetentrydiv' style={{rstyle2}}>
                    <a href=#  onclick="resetEntryName(this)">Reset entry name</button></a>
                    </div>
            </div>


            <div class="seesnote">
                {% if current_entry.is_seechanged == 1 %}
                {% set sstyle1 = 'color:green' %}
                {% endif %}
                {% set sstyle2 = 'display:none' %}
                <div id='see_default' style={{sstyle1}}>
                <i>see</i>: {{current_entry.see_final}}
                </div>
                <div id='see_update' style={{sstyle2}}>
                <i>see</i>:<br>
                {% set seetext = current_entry.see_final.strip() %}
                <form id='see_form'>
                    <textarea id="seetext" name="seetext" rows="4" cols="50">{{seetext}}</textarea><br>
                    <button type="button" id="seebutton" name="seebutton" onclick="updateSee(this)">
                        Submit
                    </button>
                </form>
                </div>

                <a href=#  onclick="showSee(this)">Edit <i>see</i></button></a><span style="padding-left:10px"> </span>
                <a href=#  onclick="resetSee(this)">Reset <i>see</i></button></a>

                {% if current_entry.is_seealsochanged == 1 %}
                {% set sastyle1 = 'color:green' %}
                {% endif %}
                {% set sastyle2 = 'display:none' %}
                <div id='seealso_default' style={{sastyle1}}>
                    <br>
                    <i>see also</i>: {{current_entry.seealso_final}}
                </div>
                <div id='seealso_update' style={{sastyle2}}>
                <i>see also</i>:<br>
                {% set seealsotext = current_entry.seealso_final.strip() %}
                <form id='seealso_form'>
                    <textarea id="seealsotext" name="seealsotext" rows="4" cols="50">{{seealsotext}}</textarea><br>
                    <button type="button" id="seealsobutton" name="seealsobutton" onclick="updateSeeAlso(this)">
                        Submit
                    </button>
                </form>
                </div>

                <a href=#  onclick="showSeeAlso(this)">Edit <i>see also</i></button></a><span style="padding-left:10px"> </span>
                <a href=#  onclick="resetSeeAlso(this)">Reset <i>see also</i></button></a>
            </div>

            <div class="page_edits">
                <b>Add pages:</b>
                <div id='addpages_default' style='display:block'>
                </div>
                <a href=#  onclick="showAddPages(this)">Add pages</button></a>
                <br>
                <div id='addpages_update' style='display:none'>
                    <form id='addpages_form'>
                        <textarea id="addpagestext" name="addpagestext" rows="4" cols="50"></textarea><br>
                        <button type="button" id="addpagesbutton" name="addpagesbutton" onclick="addPages(this)">
                            Add pages
                        </button>
                    </form>
                </div>
                <br>
                <b>Current pages:</b>
                <div id='editpages_default' style='display:block'>{{current_entry.pages_new_html.strip()|safe }}
                </div>
                <a href=#  onclick="showEditPages(this)">Edit pages</button></a>
                <div id='editpages_update' style='display:none'>
                    <form id='editpages_form'>
                        <textarea id="editpagestext" name="editpagestext" rows="5" cols="60">{{current_entry.pages_new_pt.strip()}}</textarea><br>
                        <button type="button" id="editpagesbutton" name="editpagesbutton" onclick="editPages(this)">
                            Submit
                        </button><span style="padding-left:10px"> </span>
                    </form>
                </div>
            </div>


            <div style="padding: 0px 0px 0px 10px;display:none">
                <h3>Matching dictionary</h3>
                    {% for token in tokens %}
                    {{ token }}<br>
                    {% endfor %}
            </div>
        </div>
        <div class="page_links_section">
            <div class = "interstitial"></div>
            {% set pages = current_entry.pages_ranges %}
            {% for page in pages.split(',') %}
            
            {% set emph_sr = 'None' %}
            
            {% set style='color:black' %}

            {% if page in removals %}
            {% set style='color:red'%}
            {% endif %}

            {% if page in emphases %}
            {% set style='font-style:italic'%}
            {% endif %}

            {% if '-' in page %}

            {% set currDict = subrangeDict[page] %}
            {% if current_entry.emphasized_subranges and current_entry.emphasized_subranges != '' %}
            {% set emph_sr=currDict['emph_sr_strings']%} 
            {% endif %}

            {% if currDict['isEdited']=='1'%}
            {% set style='color:green' %}
            {% endif %}

            {% endif %}
            <div class="page_container" id="cont{{page}}">
                <div class="page_details_container" id="deets{{page}}">
                    <div class="page_numbers" id="num{{page}}">
                        <a href=# id=pgbtn{{page}} name={{page}} onclick="renderPage(this)" style={{style}}>{{page}}</button></a>
                    </div>
                    <div class="page_buttons">
                        <a href=# id={{page}} name={{page}} onclick="emphPage(this)" style="font-size:medium">Emphasize</button></a>
                        <a href=# id={{page}} name={{page}} onclick="removePage(this)" style="font-size:medium">Remove</button></a>
                        <a href=# id ={{page}} name={{page}} onclick="myFunction(this)" style="font-size:medium">Subrange tools</button></a>
                    </div>
                </div>
                <div class="subrange_tools_container" id="tools{{page}}" style="display:none">
                    <div class="subrange_info">
                        <b>Current subranges:</b> (Under construction)<br>
                        <b>Emphasized subranges:</b> <i><span id="emphsrs{{page}}"> {{emph_sr}} </span></i><br>
                        <form id="form{{page}}" name="formz{{page}}">
                            <input type="hidden" name="pageToEmph" value="{{page}}">
                            <span style="font-size: medium"><b>Emphasize</b></span>
                            <span style="font-size: medium" >from </span> <input type="text" name="firstpage" style="width:30px">
                            <span style="font-size: medium">to </span><input type="text" name="secondpage" style="width:30px">
                           <button type="button" id="submitSR{{page}}" name={{page}} onclick="updateEmph(this)">Submit</button>
                        </form>
                    </div>
                    <div class="subrange_pages">
                        {% if '-' in page %}
                        {% set currDict = subrangeDict[page] %}
                        {% for hit in currDict['all_hits'] %}
                        {% set style_rmv = 'color:black' %}
                        {% if hit in currDict['removals']%}
                        {% set style_rmv = 'color:red'%}
                        {% endif %}
                        <span id="hit{{hit}}" style={{style_rmv}}>{{hit}}</span>
                        <a href=# name="rangeremove:{{current_entry.id}}_{{page}}_{{hit}}" id={{page}} onclick="rangeRemove(this)" style="font-size:medium">Remove</button></a><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

